@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu&display=swap');

html {
  background-color: #fff !important;
  color: #7B65A5 !important;
  font-family: "Ubuntu", sans-serif !important;
}

body {
  background-color: #fff !important;
  color: #7B65A5 !important;
  font-size: 1.25rem !important;
  font-family: "Ubuntu", sans-serif !important;
}